* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* CORES */
  --c-white: #fffbdf;
  --background: #f6f7fae2;
  --c-green: #30382f;
  --c-green-light: #30382f7b;
  --text-color: #222721;

  /* ESPACAMENTOS */
  --padding-section: 1.5rem;
  --gap-subTitle: 0.81rem;
}

body,
html {
  background-color: var(--background);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* PADROES */
li,
a {
  text-decoration: none;
  list-style: none;
}

.page {
  width: 100%;
}

.center {
  max-width: 90%;
  margin: 0 auto;
}

h2 {
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 6.15vw;
  font-weight: 600;
  color: var(--text-color);
}

h3 {
  font-family: "Poppins-ExtraLight", sans-serif;
  font-size: 3.6vw;
  letter-spacing: 1px;
  font-weight: 300;
  color: var(--text-color);
}

p {
  font-family: "Ubuntu-Regular", sans-serif;
  font-size: 3.7vw;
  color: var(--text-color);
  opacity: 90%;
}

button {
  background-color: var(--c-green);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  padding: 19.5px 23.5px;
  text-align: center;
  box-shadow: inset 0 4px 4px 0 rgba(255, 255, 255, 0.047);
  box-shadow: inset 0 -4px 4px 0 rgba(17, 17, 17, 0.08);
  box-shadow: 1px 2px 3.8px 0 rgba(34, 39, 33, 0.354);
}

button > a {
  color: var(--c-white);
  font-family: "poppins-SemiBold", sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
}

.button > a {
  color: var(--c-white);
  font-family: "poppins-SemiBold", sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
}

.content-menu {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

#menu {
  width: 34px;
  height: 34px;
}

/*! DESKTOP */
@media screen and (min-width: 460px) and (max-width: 2500px) {
  /* Componenets Mobile */
  section,
  footer { display: none;}
  .alert-des {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: var(--c-white);
  }

}

/*! MOBILE MIDIAS */
@media screen and (max-width: 459px) {
  /* Deactivating Components Desk/Table... */
  .menu-desk {
    display: none;
  }
  .alert-des {display: none;}
  section {
    display: block;
  }

  #icon-menu {
    transition: opacity 0.4s ease;
  }

  .menu-button {
    display: none;
  }

  /*! Menu */
  .menu {
    position: absolute;
    top: 13vh;
    left: 0;
    z-index: 100;
    transform: translateY(-20px);
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-color: #f6f7fa;
    min-height: 50vh;
    opacity: 0;
    width: 100%;
  }
  .menu.menuAtivo {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .menu ul li a {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 20px;
    letter-spacing: 0.9px;
    color: var(--text-color);
    cursor: pointer;
  }

  /*? PAGE HOME */
  header {
    padding: 1rem 2% 3.1rem 2%;
    display: flex;
    justify-content: space-between;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .first-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }

  .content-text-one {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .content-text-two {
    text-align: center;
  }

  .content-text-two > h2 {
    line-height: 130%;
    margin-top: 5px;
  }

  .first-text p {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    line-height: 163%;
    letter-spacing: 1.1px;
  }

  /** Forma/Img */
  .bottom-home {
    position: relative;
  }

  .shape {
    position: relative;
  }

  .girl-image {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 4;
  }

  /*? PAGE SERVICE */
  .page-service {
    padding: 3rem 0;
    text-align: center;
  }

  .text-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-subTitle);
  }

  .text-service h2 {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 130%;
  }

  /** Services */
  .services_ {
    padding: 0.9rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
  }

  .service {
    width: 320px;
    height: 300px;
    background-color: var(--c-green-light);
    border-radius: 13px;
    box-shadow: 1px 4px 12px -1px rgba(0, 0, 0, 0.204);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 0.6rem;
  }

  .icon-service {
    width: 42px;
    height: 42px;
    background-color: var(--c-green);
    color: var(--c-white);
    font-family: "Poppins-SemiBold", sans-serif;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-service img {
    opacity: 80%;
  }

  .title-service {
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 3.9vw;
    letter-spacing: 0.9px;
    max-width: 80%;
    text-align: center;
    color: var(--text-color);
  }

  .description-service {
    font-family: "Ubuntu-Regular", sans-serif;
    font-size: 3.7vw;
    color: var(--text-color);
    line-height: 125%;
    letter-spacing: 0.9px;
    opacity: 90%;
    text-align: center;
    padding: 0 1rem;
  }

  .image-service {
    max-width: 80%;
    margin-top: 2rem;
  }

  /*? PAGE ABOUT */
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-subTitle);
  }

  .about h2 {
    text-align: center;
    max-width: 85%;
    line-height: 130%;
  }

  .about p {
    padding: 1.2rem 0;
    line-height: 165%;
    max-width: 80%;
    letter-spacing: 1px;
  }

  .image-about {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 2rem 0;
  }

  /*? PAGE DEP */
  .page-dep {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .text-dep {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-subTitle);
  }

  .text-dep h2 {
    text-align: center;
    max-width: 80%;
    line-height: 130%;
  }

  /** card */
  .dep {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 255px;
  }

  .card {
    opacity: 0;
    transition: opacity 1 ease-in-out;
    position: absolute;
    width: 320px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid var(--c-green-light);
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 22px 18px;
  }

  .card.ativo {
    opacity: 1;
  }

  .perfil {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .perfil h4 {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 20px;
    letter-spacing: 0.9px;
    color: var(--text-color);
  }

  .foto {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .foto img {
    width: 100%;
    height: 100%;
  }

  .card p {
    font-size: 16px;
    letter-spacing: 0.9;
    line-height: 150%;
  }

  /* Js */
  .ball-grup {
    margin: 3rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
  }

  .ball {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--c-green);
    cursor: pointer;
  }

  .ball.atual {
    border: 1px solid var(--c-green-light);
    background-color: var(--background);
  }

  /*? FAQ */
  .text-fac {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-subTitle);
  }

  .text-fac h2 {
    text-align: center;
    max-width: 80%;
    line-height: 130%;
  }

  /** Quest/RES */
  .faq {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
  }

  .quest {
    max-width: 80%;
    /* width: 430px; */
    width: 102.38vw;
    border: 1px solid rgba(68, 92, 73, 0.16);
    margin: 0 auto;
    border-radius: 9px;
    padding: 14px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .quest h5 {
    flex-basis: 80%;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 16px;
    line-height: 133%;
    color: var(--text-color);
  }

  .ic {
    transition: transform 0.4s ease;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
    transform: rotate(0deg);
    display: inline-block;
  }
  .ic.rotate {
    transform: rotate(180deg);
  }

  .res {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    width: 78vw;
    margin: 0 auto;
    line-height: 166%;
    letter-spacing: 1px;
    margin-top: 19px;
  }
  .res.open {
  max-height: 180px;
}

  /*! Contact */
  .text-contact {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-subTitle);
  }

  .page-contact h2 {
    text-align: center;
    max-width: 80%;
    line-height: 130%;
  }

  /** Form */
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  input,
  textarea {
    width: 80%;
    padding: 15px 16px;
    border-radius: 18px;
    border: 1px solid rgba(22, 25, 21, 0.403);
    background-color: var(--c-white);
  }

  input,
  textarea:focus {
    outline: none;
    background-color: #f6f7fae2;
  }

  input::placeholder {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 13px;
    color: rgba(34, 39, 33, 0.628);
  }

  /*  */
  .field {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }

  /* Select */
  .field span,
  select,
  option {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 12px;
    color: rgba(34, 39, 33, 0.628);
    background-color: #f6f7fae2;
  }

  select {
    outline: none;
    padding: 15px 15px;
    border-radius: 18px;
    border: 1px solid rgba(22, 25, 21, 0.403);
  }

  option {
    outline: none;
    border-radius: 18px;
    border: 1px solid rgba(22, 25, 21, 0.403);
    white-space: nowrap;
    overflow-x: hidden;
  }

  .field input {
    width: 100%;
  }

  textarea {
    height: 120px;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 13px;
    color: var(--text-color);
    background-color: #f6f7fae2;
  }

  #submit {
    background-color: var(--text-color);
    color: var(--c-white);
    border: none;
    font-family: "poppins-SemiBold", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
  }

  /*! Footer */
  .footer {
    margin-top: 1rem;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .page-footer {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
  }

  .page-footer .logo {
    margin-top: 1.5rem;
    width: 144px;
    height: 124px;
    border-bottom: 1px solid rgba(30, 35, 30, 0.121);
  }

  .time {
    gap: var(--gap-subTitle);
  }

  .time h3 {
    text-align: center;
  }

  .time div {
    margin-bottom: 3px;
  }

  .time p {
    text-align: center;
    font-size: 2.9vw;
    font-family: "Poppins-Regular", sans-serif;
    color: var(--text-color);
  }

  .location {
    text-align: center;
    font-size: 2.9vw;
    font-family: "Poppins-Regular", sans-serif;
    color: var(--text-color);
  }

  .location div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    gap: 4px;
  }

  .location img {
    width: 14px;
    height: 14px;
  }

  /*  */
  .social-midia {
    width: 90%;
    display: flex;
    gap: 1.4rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(30, 35, 30, 0.121);
    padding-bottom: 25px;
  }

  .social-midia a img {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .tw {
    width: 16px;
    height: 16px;
  }

  #creator {
    font-size: 2.5vw;
    font-family: "Poppins-Regular", sans-serif;
    color: var(--text-color);
  }
}
